<div class="contenido">
  <div class="com1">
    <img src="{{lead.[0].image.src}}" alt="{{pageLead.[0].alt}}">

  </div>
  <div class="com2">
    <div class="headline">
      <h1>{{headline}}</h1>
    </div>
    <div class="subheadllne ">
      <h6>{{subHeadline}}</h6>
    </div>

    <div class="audio-container">
      <button class="play-button" onclick="toggleAudio()">
        <img src="https://img.icons8.com/?size=100&id=36067&format=png&color=000000" alt="Play" width="64" height="64">
        <div class="tex-title-audio">
          <h6>Escuchar audio</h6>
          <p>{{audioPlayer.[0].audioTitle}} - {{audioPlayer.[0].audioDuration}} </p>

        </div>
      </button>


      <div class="wave-container">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
      </div>

      <audio id="audioPlayer">
        <source src="{{audioPlayer.[0].audioUrl}}" type="audio/mpeg">
        Tu navegador no soporta el audio.
      </audio>
    </div>

    <div class="share-buttons">
      {{#each actions.[0].items}}
      <button onclick="openShareWindow('{{_template}}', '{{url}}')">
        {{this.body}}
       
       
      </button>
      {{/each}}
    </div>
  </div>
</div>